<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../styles/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/slider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

    <title>Connexion</title>
</head>
<body>

<div class="center">
    <nav class="navbar mx-auto navbar-expand-md navbar-light sticky-top ">
        <a href="#" class="navbar-brand navbar-center"><img src="../lolo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link active">ACCUEIL</a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">COUVERTURE</a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">OUVRAGE</a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">CHARPENTE</a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">STAGES</a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">A PROPOS</a>
                </li>
                <li class="nav-item ">
                    <a href="" class="abc"> <i class="fa fa-user fa-lg"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="">
    <div class="accueilphoto">
        <div class="titrealigne">
            <h1>ABC LEGERMAIN</h1>
            <h3>ABC = ARTISANAT BOIS CREATION</h3>
            <a href="contact.html">
                <button href="contact.html" name="contact">contactez-nous</button>
            </a>
        </div>
    </div>

</div>
<div class="bois">
    <div class="boisaligne">
        <h3>Bienvenue chez ABC Legermain</h3>
    </div>
</div>

<div class="accueiltext">
    <p>Nous serons enchantés de répondre à votre demande pour tout ouvrage spécifique, personnalisé ou non
        conventionnel.</p>
    <p> Afin d’être plus concret, nous vous invitons à découvrir, en images, les ouvrages déjà réalisés.</p>
</div>
<div class="services">
    <a href="charpente.html">
        <div class="divcharpente">
            <p class="servicebutton">CHARPENTE</p>
        </div>
    </a>
    <a href="couverture.html">
        <div class="divcouverture">
            <p class="servicebutton">COUVERTURE</p>
        </div>
    </a>
    <a href="ouvrage.html">
        <div class="divouvrage">
            <p class="servicebutton">OUVRAGE</p>
        </div>
    </a>
</div>

<ul class="slides">
    <input type="radio" name="radio-btn" id="img-1" checked/>
    <li class="slide-container">
        <div class="slide">
            <img src="../public/images/slider/charpente1.jpg" width="2200" height="1000">
        </div>
        <div class="nav">
            <label for="img-6" class="prev"><img src="../public/back.svg" height="100" width="60" alt=""></label>
            <label for="img-2" class="next"><img src="../public/next.svg" height="100" width="60" alt=""></label>
        </div>
    </li>

    <input type="radio" name="radio-btn" id="img-2"/>
    <li class="slide-container">
        <div class="slide">
            <img src="../public/images/slider/charpente2-2.jpg" width="2200" height="1000" alt="">
        </div>
        <div class="nav">
            <label for="img-1" class="prev"><img src="../public/back.svg" height="100" width="60" alt=""></label>
            <label for="img-3" class="next"><img src="../public/next.svg" height="100" width="60" alt=""></label>
        </div>
    </li>

    <input type="radio" name="radio-btn" id="img-3"/>
    <li class="slide-container">
        <div class="slide">
            <img src="../public/images/slider/ouvrage1.jpg" width="2200" height="1000" alt="">
        </div>
        <div class="nav">
            <label for="img-2" class="prev"><img src="../public/back.svg" height="100" width="60" alt=""></label>
            <label for="img-4" class="next"><img src="../public/next.svg" height="100" width="60" alt=""></label>
        </div>
    </li>

    <input type="radio" name="radio-btn" id="img-4"/>
    <li class="slide-container">
        <div class="slide">
            <img src="../public/images/slider/charpente2.jpg" width="2300" height="1000">
        </div>
        <div class="nav">
            <label for="img-3" class="prev"><img src="../public/back.svg" height="100" width="60" alt=""></label>
            <label for="img-5" class="next"><img src="../public/next.svg" height="100" width="60" alt=""></label>
        </div>
    </li>

    <input type="radio" name="radio-btn" id="img-5"/>
    <li class="slide-container">
        <div class="slide">
            <img src="../public/images/slider/couverture1.jpg" width="2200" height="1000">
        </div>
        <div class="nav">
            <label for="img-4" class="prev"><img src="../public/back.svg" height="100" width="60" alt=""></label>
            <label for="img-6" class="next"><img src="../public/next.svg" height="100" width="60" alt=""></label>
        </div>
    </li>

    <input type="radio" name="radio-btn" id="img-6"/>
    <li class="slide-container">
        <div class="slide">
            <img src="../public/images/slider/ouvrage2.jpg" width="2300" height="1000">
        </div>
        <div class="nav">
            <label for="img-5" class="prev"><img src="../public/back.svg" height="100" width="60" alt=""></label>
            <label for="img-1" class="next"><img src="../public/next.svg" height="100" width="60" alt=""></label>
        </div>
    </li>
</ul>

<div class="devis">
    <button class="button" name="devis">Demander un devis</button>
</div>

<div class="footer">
    <div class="icons">
        <div class="tel">
            <ul>
                <li>
                    <a href="tel:+33247367034"><img src="../public/images/icons/phone-alt-solid.svg" height="50"
                                                    width="50" alt=""></a>
                </li>
                <li>
                    <br>
                    <a href="tel:+33247367034">02 47 36 70 34</a>
                </li>
            </ul>
        </div>
        <div class="icon">
            <a class="resp-sharing-button__link"
               href="https://www.facebook.com/sharer/sharer.php?u=${'http://localhost:63342/Maitre%20artisan/views/accueil.html?_ijt=k3mif1id8qu0sghuebpubht7ka'}"
               target="_blank"
               rel="noopener" aria-label="Share on Facebook"> <img src="../public/images/icons/share-square-solid.svg"
                                                                   height="50" width="50" alt=""></a>
            <a href="https://www.facebook.com/legermain.artisan"> <img src="../public/images/icons/facebook-brands.svg"
                                                                       height="50" width="50" alt=""></a>
            <a href="https://www.instagram.com/abclegermain/"> <img src="../public/images/icons/instagram-brands.svg"
                                                                    height="50" width="50" alt=""></a>
            <a href="https://twitter.com/abclegermain"> <img src="../public/images/icons/twitter-brands.svg" height="50"
                                                             width="50" alt=""></a>
        </div>
    </div>

    <div class="footerwood">
        <div class="footercopyright">
            <div class="email">
                <p>newsletter</p>
                <label><input type="text" placeholder="E-mail"></label>
                <input type="submit" value="s'inscrire">
            </div>

            <div class="address">
                <img src="../public/images/icons/address.svg" height="50" width="50" alt="">
                <p>Zone Artisanale
                    <br>72140 Rouez en Champagne</p>
            </div>
        </div>
        <hr>
        <div class="copyright">
            <h5>@copyright 2020</h5>
        </div>
    </div>

</div>


</body>
</html>
