<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/tester.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">


    <title>Page Contact</title>

</head>
<body>

<div class="header ">
    <div class="headerchild">
        <img src="../lolo.png" alt="logo">
    </div>
    <div class="headerchild">
        <a class="active" href="accueil.html">ACCUEIL</a>
    </div>
    <div class="headerchild">
        <a href="charpente.html">CHARPENTE</a>
    </div>
    <div class="headerchild">
        <a href="couverture.html">COUVERTURE</a>
    </div>
    <div class="headerchild">
        <a href="ouvrage.html">OUVRAGE</a>
    </div>
    <div class="headerchild">
        <a href="stage.html">STAGES</a>
    </div>
    <div class="headerchild">
        <a href="contact.html">CONTACT</a>
    </div>
    <div class="headerchild">
        <a href="apropos.html">A PROPOS</a>
    </div>
</div>
<div class="accueil">
    <div class="textaligne">
        <h1>CONTACTS</h1>
    </div>
</div>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2702.9668370551212!2d0.6985965150255431!3d47.3540454133843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fcd68e9e50b6ab%3A0x8559ab1a920a9b46!2s8%20Rue%20Gaspard%20Coriolis%2C%2037200%20Tours!5e0!3m2!1sfr!2sfr!4v1605054186938!5m2!1sfr!2sfr"
            width="100%" height="400" allowfullscreen="allowfullscreen" aria-hidden="false" tabindex="0">
    </iframe>
</div>
<div class="hhh">
<h2>Contactez-nous</h2>

<div class="contact">
    <div class="containerleft">
        <div class="containercontact">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="titre" placeholder="">
            <label for="prenom">Prenom :</label>
            <input type="text" id="prenom" name="titre" placeholder="">
            <label for="ok">E-mail :</label>
            <input type="email" id="ok" name="email" placeholder="" required/>
            <label for="tel">Tel :</label>
            <input type="tel" id="tel" name="titre" placeholder="ex: +33 712345678">
            <div class="form-group">
                <label for="selection">Sujet de votre Message :</label>
                <select class='form-control' required id="selection" name="select">
                    <option id="select" value='' placeholder="choisir">choisir</option>
                    <option value='en cours'>en cours</option>
                    <option value='1'>sujet 1......</option>
                    <option value='2'>sujet 2......</option>
                    <option value='3'>sujet 3......</option>
                    <option value='4'>sujet 4......</option>
                    <option value='5'>sujet 5......</option>
                    <option value='6'>sujet 6......</option>
                </select>
            </div>
            <label for="description">Message :</label>
            <textarea type="longtext" placeholder="votre message ici" id="description" required> </textarea>
            <input type="submit" value="enregistrer"/>
        </div>
    </div>
    <div class="containerright">
        <div class="pads">
            <div class="textcontact">
                <h2><i class="fa fa-address-book"></i> Contacts</h2>
                <p><a href="tel:02 47 36 70 34"> <i class="fa fa-phone"></i> 02 47 36 70 34</a></p>
                <p><a href="mailto:infos@legermain.com"> <i class="fa fa-envelope"></i> infos@legermain.com</a></p>
            </div>
        </div>
        <div class="pads">
            <div class="horaire">
                <h2><i class="fa fa-clock-o"></i> Horaire</h2>
                <div class="texthoraire">
                    <div class="textpadright">
                        <p>lundi</p>
                        <p>mardi</p>
                        <p>mercredi</p>
                        <p>jeudi</p>
                        <p>vendredi</p>
                        <p>samedi</p>
                        <p>dimanche</p>
                        <p>jours fériés</p>
                    </div>
                    <div class="textpadleft">
                        <p>6h30–13h30, 15h30–17h50</p>
                        <p>6h30–13h30, 15h30–17h50</p>
                        <p>fermé</p>
                        <p>6h30–13h30, 15h30–17h50</p>
                        <p>6h30–13h30, 15h30–17h50</p>
                        <p>6h30–13h30, 15h30–17h50</p>
                        <p>fermé</p>
                        <p>6h30–13h30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="footer">
    <div class="icons">
        <div class="tel">
            <a href="tel:+33247367034"><img src="../public/images/icons/phone-alt-solid.svg" height="50" width="50"
                                            alt=""> 02 47 36 70 34</a>
        </div>
        <div class="icon">
            <a class="resp-sharing-button__link"
               href="https://www.facebook.com/sharer/sharer.php?u=${'http://localhost:63342/Maitre%20artisan/views/accueil.html?_ijt=k3mif1id8qu0sghuebpubht7ka'}"
               target="_blank"
               rel="noopener" aria-label="Share on Facebook"> <img src="../public/images/icons/share-square-solid.svg"
                                                                   height="50" width="50"></a>
            <a href="https://www.facebook.com/legermain.artisan"> <img src="../public/images/icons/facebook-brands.svg"
                                                                       height="50" width="50"></a>
            <a href="https://www.instagram.com/abclegermain/"> <img src="../public/images/icons/instagram-brands.svg"
                                                                    height="50" width="50"></a>
            <a href="https://twitter.com/abclegermain"> <img src="../public/images/icons/twitter-brands.svg" height="50"
                                                             width="50"></a>
        </div>
    </div>

    <div class="footerwood">
        <div class="email">
            <label for="email">Newsletter</label><br>
            <input type="email" id="email" name="email">
            <button name="inscrire">s'inscrire</button>
        </div>

        <div class="address">
            <img src="../public/images/icons/address.svg" height="50" width="50" alt="">
            <h4>Zone Artisanale 72140 Rouez en Champagne
            </h4>
        </div>
        <h5>@copyright</h5>
    </div>
</div>

</body>
</html>
