<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/slider.css">
    <title>Page d'accueil</title>
    <script></script>
</head>
<body>
<div class="header">
    <div class="headerchild">
        <img src="../public/images/logomaitreartisan.png" alt="logo" height="120" width="160">
    </div>
    <div class="headerchild">
        <a class="active" href="#home">ACCUEIL</a>
    </div>
    <div class="headerchild">
        <a href="couverture.html">COUVERTURE</a>
    </div>
    <div class="headerchild">
        <a href="ouvrage.html">OUVRAGE</a>
    </div>
    <div class="headerchild">
        <a href="charpente.html">CHARPENTE</a>
    </div>
    <div class="headerchild">
        <a href="stage.html">STAGES</a>
    </div>
    <div class="headerchild">
        <a href="contact.html">CONTACT</a>
    </div>
    <div class="headerchild">
        <a href="apropos.html">A PROPOS</a>
    </div>
</div>

<div class="accueilphoto">
    <div class="titrealigne">
        <h1>ABC LEGERMAIN</h1><br>
        <h3>ABC = ARTISANAT BOIS CREATION</h3><br>
        <div class="contacteznousbutton">
            <button name="contact">CONTACTEZ-NOUS</button>
        </div>
    </div>
</div>

/*

écrire vos code ici

*/

<div class="devis">
    <button class="button" name="devis">Demander un devis</button>
</div>

<div class="footer">
    <div class="icons">
        <div class="tel">
            <a href="tel:+33247367034"><img src="../public/images/icons/phone-alt-solid.svg" height="50" width="50" alt=""> 02
                47 36 70 34</a>
        </div>
        <div class="icon">
            <a class="resp-sharing-button__link"
               href="https://www.facebook.com/sharer/sharer.php?u=${'http://localhost:63342/Maitre%20artisan/views/accueil.html?_ijt=k3mif1id8qu0sghuebpubht7ka'}" target="_blank"
               rel="noopener" aria-label="Share on Facebook"> <img src="../public/images/icons/share-square-solid.svg" height="50" width="50"></a>
            <a href="https://www.facebook.com/legermain.artisan"> <img src="../public/images/icons/facebook-brands.svg"
                                                                       height="50" width="50"></a>
            <a href="https://www.instagram.com/abclegermain/"> <img src="../public/images/icons/instagram-brands.svg"
                                                                    height="50" width="50"></a>
            <a href="https://twitter.com/abclegermain"> <img src="../public/images/icons/twitter-brands.svg" height="50"
                                                             width="50"></a>
        </div>
    </div>

    <div class="footerwood">
        <div class="email">
            <label for="email">Newsletter</label><br>
            <input type="email" id="email" name="email">
            <button name="inscrire">s'inscrire</button>
        </div>

        <div class="address">
            <img src="../public/images/icons/map-marker-alt-solid.svg" height="50" width="50">
            <h4>Zone Artisanale
                <br> 72140 Rouez en Champagne
            </h4>
        </div>
        <h5>@copyright</h5>
    </div>

</div>


</body>
</html>
