<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="../styles/loading.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../app/loading.js"></script>

<div class="interior container clearfix">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" >
            <div class="item">
                <img src="../public/images/slider/charpente1.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" >
            <div class="item">
                <img src="../public/images/slider/charpente2.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" >
            <div class="item">
                <img src="../public/images/slider/couverture1.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" style="display: none;">
            <div class="item">
                <img src="../public/images/slider/ouvrage2.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" style="display: none;">
            <div class="item">
                <img src="../public/images/slider/ouvrage1.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" style="display: none;">
            <div class="item">
                <img src="../public/images/slider/charpente2-2.jpg">
            </div>
        </div>
        <div id="load" style="">
            <button>1</button>
        </div>
    </div>
</div>

