<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/slider.css">
    <link rel="stylesheet" href="../styles/stage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Stages</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <div class="headerchild">
        <img src="../public/images/logomaitreartisan.png" alt="logo" height="120" width="160">
    </div>
    <div class="headerchild">
        <a class="active" href="#home">ACCUEIL</a>
    </div>
    <div class="headerchild">
        <a href="couverture.html">COUVERTURE</a>
    </div>
    <div class="headerchild">
        <a href="ouvrage.html">OUVRAGE</a>
    </div>
    <div class="headerchild">
        <a href="charpente.html">CHARPENTE</a>
    </div>
    <div class="headerchild">
        <a href="stage.html">STAGES</a>
    </div>
    <div class="headerchild">
        <a href="contact.html">CONTACT</a>
    </div>
    <div class="headerchild">
        <a href="apropos.html">A PROPOS</a>
    </div>
</div>

<div class="accueilphoto">
    <div class="title">
        <h1>STAGES</h1><br>
    </div>
</div>

<div >
    <input type="searchbar" id="searchbar" name="searchbar" placeholder="Rechercher parmis les stages">
    <br/><br/><br/><br/>
    <select name="categorie" id="categorie">
        <option value="">Toutes les catégories</option>
    </select>
    <br/><br/>
    <button class="btnRechercher" name="search">Rechercher</button>
</div>
<br/><br/><br/><br/><br/>
<div class="containerStageLeft">
    <div class="opacity">
        <div class="qualificationTag">Bac +1</div>
        <h3>Charpentier(ère) bois</h3>
        <p>En atelier, épure et façonnage.<br/>
        Quand il réalise une charpente, le charpentier en fabrique les pièces de A à Z. Son travail s'organise en trois temps. En amont du chantier, à partir des pla... </p>     
    </div>
    <div class="middle">
        <div class="text">
            <a href="stagePresentation.html">En savoir plus...</a>
        </div>
    </div>
</div>

<div class="containerStageRight">
    <div class="opacity">
        <div class="qualificationTag">Bac +1</div>
        <h3>Charpentier(ère) bois</h3>
        <p>En atelier, épure et façonnage.<br/>
        Quand il réalise une charpente, le charpentier en fabrique les pièces de A à Z. Son travail s'organise en trois temps. En amont du chantier, à partir des pla... </p>     
    </div>
    <div class="middle">
        <div class="text">
            <a href="stagePresentation.html">En savoir plus...</a>
        </div>
    </div>
</div>

<div class="containerStageLeft">
    <div class="opacity">
        <div class="qualificationTag">Bac +1</div>
        <h3>Charpentier(ère) bois</h3>
        <p>En atelier, épure et façonnage.<br/>
        Quand il réalise une charpente, le charpentier en fabrique les pièces de A à Z. Son travail s'organise en trois temps. En amont du chantier, à partir des pla... </p>     
    </div>
    <div class="middle">
        <div class="text">
            <a href="stagePresentation.html">En savoir plus...</a>
        </div>
    </div>
</div>

<div class="containerStageRight">
    <div class="opacity">
        <div class="qualificationTag">Bac +1</div>
        <h3>Charpentier(ère) bois</h3>
        <p>En atelier, épure et façonnage.<br/>
        Quand il réalise une charpente, le charpentier en fabrique les pièces de A à Z. Son travail s'organise en trois temps. En amont du chantier, à partir des pla... </p>     
    </div>
    <div class="middle">
        <div class="text">
            <a href="stagePresentation.html">En savoir plus...</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#" class="active">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
</div>

<div class="padding"></div>

<div class="footer">
    <div class="icons">
        <div class="tel">
            <a href="tel:+33247367034"><img src="../public/images/icons/phone-alt-solid.svg" height="50" width="50" alt=""> 02
                47 36 70 34</a>
        </div>
        <div class="icon">
            <a class="resp-sharing-button__link"
               href="https://www.facebook.com/sharer/sharer.php?u=${'http://localhost:63342/Maitre%20artisan/views/accueil.html?_ijt=k3mif1id8qu0sghuebpubht7ka'}" target="_blank"
               rel="noopener" aria-label="Share on Facebook"> <img src="../public/images/icons/share-square-solid.svg" height="50" width="50"></a>
            <a href="https://www.facebook.com/legermain.artisan"> <img src="../public/images/icons/facebook-brands.svg"
                                                                       height="50" width="50"></a>
            <a href="https://www.instagram.com/abclegermain/"> <img src="../public/images/icons/instagram-brands.svg"
                                                                    height="50" width="50"></a>
            <a href="https://twitter.com/abclegermain"> <img src="../public/images/icons/twitter-brands.svg" height="50"
                                                             width="50"></a>
        </div>
    </div>

    <div class="footerwood">
        <div class="email">
            <label for="email">Newsletter</label><br>
            <input type="email" id="email" name="email">
            <button name="inscrire">s'inscrire</button>
        </div>

        <div class="address">
            <img src="../public/images/icons/map-marker-alt-solid.svg" height="50" width="50">
            <h4>Zone Artisanale
                <br> 72140 Rouez en Champagne
            </h4>
        </div>
        <h5>@copyright</h5>
    </div>

</div>


</body>
</html>