<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/slider.css">
    <link rel="stylesheet" href="../styles/stagePres.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Offre de stage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <div class="headerchild">
        <img src="../public/images/logomaitreartisan.png" alt="logo" height="120" width="160">
    </div>
    <div class="headerchild">
        <a class="active" href="#home">ACCUEIL</a>
    </div>
    <div class="headerchild">
        <a href="couverture.html">COUVERTURE</a>
    </div>
    <div class="headerchild">
        <a href="ouvrage.html">OUVRAGE</a>
    </div>
    <div class="headerchild">
        <a href="charpente.html">CHARPENTE</a>
    </div>
    <div class="headerchild">
        <a href="stage.html">STAGES</a>
    </div>
    <div class="headerchild">
        <a href="contact.html">CONTACT</a>
    </div>
    <div class="headerchild">
        <a href="apropos.html">A PROPOS</a>
    </div>
</div>

<div class="accueilphoto">
    <div class="title">
        <h1>STAGES</h1><br>
    </div>
</div>

<div class="offreStage">
	<h3>Charpentier(ière) bois</h3>
	<p>ABC LEGERMAIN vous propose un stage de construction de charpente.</p>

	<p>Venez réapprendre, avec nous et grâce à Olivier Phojo, à travailler le bois comme on le faisait autrefois, au travers de la réalisation d’un abris de 50m2 dont le bois aura poussé sur notre terrain.</p>

	<p>De la théorie et beaucoup de pratique avec des outils traditionnels… vous repartirez capables de construire une charpente simple par vous même.</p>

	<p>Du 5 au 14 septembre.</p>

	<p>A la Zone Artisanale, 72140 Rouez en Champagne </p>
	<img src="../public/images/slider/charpente1.jpg" height="311px" width="1074px" alt="" class="center">

	<p>Vous assisterez à toutes les étapes : l’équarrissage des troncs, le traçage, la taille aux ciseaux à bois des diverses encoches puis l’assemblage de la charpente. Tout ceci devrait être fini en 10 jours.</p>

	<p>Le stage est ouvert à tous, charpentiers souhaitant un retour vers du travail à la main, mais aussi les débutants dans le travail du bois.</p>

	<p>Prévoir : tente, duvet, torche, vos éventuels instruments de musique pourraient amener un peu de bonne humeur pendant les soirées. Si vous avez des outils à bois, ils seront les bienvenus (hache, ciseaux à bois, scies ...).</p>

	<p>Pour plus d’information, vous pouvez nous contacter par e-mail : legermain@gmail.com</p>
</div>
<button class="btnPostuler" name="search">Postuler</button>
<br/><br/><br/><br/><br/><br/><br/>


<div class="footer">
    <div class="icons">
        <div class="tel">
            <a href="tel:+33247367034"><img src="../public/images/icons/phone-alt-solid.svg" height="50" width="50" alt=""> 02
                47 36 70 34</a>
        </div>
        <div class="icon">
            <a class="resp-sharing-button__link"
               href="https://www.facebook.com/sharer/sharer.php?u=${'http://localhost:63342/Maitre%20artisan/views/accueil.html?_ijt=k3mif1id8qu0sghuebpubht7ka'}" target="_blank"
               rel="noopener" aria-label="Share on Facebook"> <img src="../public/images/icons/share-square-solid.svg" height="50" width="50"></a>
            <a href="https://www.facebook.com/legermain.artisan"> <img src="../public/images/icons/facebook-brands.svg"
                                                                       height="50" width="50"></a>
            <a href="https://www.instagram.com/abclegermain/"> <img src="../public/images/icons/instagram-brands.svg"
                                                                    height="50" width="50"></a>
            <a href="https://twitter.com/abclegermain"> <img src="../public/images/icons/twitter-brands.svg" height="50"
                                                             width="50"></a>
        </div>
    </div>

    <div class="footerwood">
        <div class="email">
            <label for="email">Newsletter</label><br>
            <input type="email" id="email" name="email">
            <button name="inscrire">s'inscrire</button>
        </div>

        <div class="address">
            <img src="../public/images/icons/map-marker-alt-solid.svg" height="50" width="50">
            <h4>Zone Artisanale
                <br> 72140 Rouez en Champagne
            </h4>
        </div>
        <h5>@copyright</h5>
    </div>

</div>


</body>
</html>