
body{
    font-family: sans-serif;
    background-color: #efefef;
    margin-top: 1.8%;
}


* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    padding: 0;
    margin: 0;
}
.apropos{
    justify-content: center;
    font-size: 15px;
    margin-top: 2%;
}

.accueilphoto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../public/images/wood copy.jpg");
    background-size: cover;
    height: 150px;
    color: white;
    text-shadow: 2px 2px 10px #706969;
}
.accueilphoto div {
    padding: 1px;
}
.button {
    float: right;
    margin-left: auto;
    margin-right: 20%;

}
.logo{
    margin-top: -35%;
}


.titrealigne {
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 10px #706969;
}
.center{
    padding-left: 15%;
    padding-right: 10%;
}

.abc{
    border-radius: 8px;
    color: #082e4c;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}
.abc:hover{
    color: rgb(207, 137, 15);
}

.apropos li{
    font-size: 17px;
    width: 70%;
    margin: auto;
    justify-content: center;
    font-family:sans-serif;
}
.apropos p{
    font-size: 17px;
    width: 70%;
    margin: auto;
    justify-content: center;
    font-family:sans-serif;
}

.apropos h3,h4{
    text-align: center;
    font-weight: bold;
}
.apropos li{
    font-weight:bold;
    font-style: italic;

}
.apropos a{
    text-align: center;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    height: 110px;
    background-color: #b06238;
}

.icon {
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.icons a {
    justify-self: center;
    padding: 10px;
    color: black;
    transition: 0.3s;
}

.icons a:hover {
    color: #efcdbc;

}

.tel {
    display: flex;
    flex-direction: row;
    margin-right: 38%;
    justify-content: space-between;

}

.tel a {
    text-decoration: none;
    color: black;
    text-align: center;
    align-content: center;
    transition: 0.3s;
}

.tel a:hover {
    color: #ffffff;
}

.footerwood {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../public/images/wood copy.jpg");
    height: auto;
    margin-bottom: -5%;
}

.footercopyright {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footercopyright input[type=text] {
    width: 200px;
    height: 30px;
    display: inline-block;
}

.footercopyright input[type=submit] {
    border-style: none;
    font-size: 15px;
    width: 122px;
    height: 30px;
    cursor: pointer;
    border-radius: 8px;
    color: #ffffff;
    background-color: gray;
    transition: 0.5s;
    border-bottom: none;
}

.footercopyright input[type=submit]:hover {
    background-color: #b06238;
}

.email {
    margin-right: 30%;
}

.email p {
    color: white;
}

.address {
    display: flex;
    flex-direction: row;
    text-align: left;
    color: #c8c5c5;
}

.email p{
    font-size: larger;
}
.address p {
    font-size: larger;
    padding-left: 10px;
}

.copyright {
    padding: 1%;
    color: white;
    text-align: center;
}


@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(207, 137, 15);
}
.navbar-light .navbar-nav .nav-link:focus {
    color: rgb(207, 137, 15);
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgb(190, 127, 19);
}

.navbar-light .navbar-nav .nav-link.login {
    color: rgb(190, 127, 19);
}
