* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    height: 120px;
}

.header a.active {
    color: darkgoldenrod;
}

.header a:hover {
    color: chocolate;
}

.header a {
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}

.accueilphoto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../public/images/accueil.jpg");

    background-size: cover;
    height: 500px;
    color: white;
    text-shadow: 2px 2px 10px #706969;}

.accueilphoto div {
    padding: 1px;
}

.accueiltext {
    padding-top: 5%;
}

.accueiltext p {
    padding-top: 11px;
    line-height: 1.8;
}

.button {
    float: right;
    margin-left: auto;
    margin-right: 20%;

}

.titrealigne {
    margin-left: auto;
    margin-right: auto;
}
.titrealigne h1, .titrealigne h3, .titrealigne a{
    text-align: center;
}

h1 {
    font-size: 50px;
}

.bois {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../public/images/wood copy.jpg");
    width: 100%;
    background-size: 100vw 120px;
    height: 120px;
    color: white;
}

.boisaligne {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.boisaligne h2 {
    font-size: 30px;
}

.accueiltext {
    font-size: 20px;
    width: 70%;
    margin: auto;
}

.services {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}


.services a {
    padding: 2%;
    color: #663d11;
    font-size: 20px;
    transition: 0.1s;
    display: inline;
    text-decoration: none;
}

.services a:hover{
    color: white;
}

.divcouverture {
    background-image: url("../public/images/Couvertures/couv.JPG");
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    height: 371px;
    width: 370px;
}

.divouvrage {
    background-image: url("../public/images/Ouvrages/HPIM2921.JPG");
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    height: 371px;
    width: 370px;
    position: relative;
    box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.1);
}

.divcharpente {
    background-image: url("../public/images/Charpentes/charpente.JPG");
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    height: 371px;
    width: 370px;
    position: relative;
    box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.1);

}

.divcharpente:hover > .servicebutton, .divcouverture:hover > .servicebutton, .divouvrage:hover > .servicebutton{
    background-color: #4693d7;
    opacity: 0.9;
}

.servicebutton {
    display: block;
    padding: 9%;
    background-color: rgb(169, 160, 160);
    margin: 0;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    z-index: 1;
    box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.1);
}

.servicebutton:hover {

}

.slide {
    margin-top: 5%;
}

.devis {
    margin-top: 5%;
    height: 150px
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    height: 110px;
    background-color: #b06238;
}

.icon {
    margin-left: 2%;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.icons a {
    justify-self: center;
    padding: 5px;
    color: black;
    transition: 0.3s;
}

.icons a:hover{
    color: #4693d7;
}

.tel {
    display: flex;
    flex-direction: row;
    margin-right: 40%;
    justify-content: space-between;

}

.tel a {
    text-decoration: none;
    color: black;
    text-align: center;
    align-content: center;
    transition: 0.3s;
}

.tel a:hover{
    color: cornflowerblue;
}

.footerwood {
    background-image: url("../public/images/wood copy.jpg");
    height: auto;
}

.footercopyright {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footercopyright input[type=text] {
    width: 200px;
    height: 30px;
    display: inline-block;
}

.footercopyright input[type=submit] {
    font-size: 15px;
    width: 122px;
    cursor: pointer;
    border-radius: 8px;
    color: #ffffff;
    background-color: gray;
    transition: 0.5s;
    border-bottom: none;
}

.footercopyright input[type=submit]:hover{
    background-color: #4693d7;
}
.email {
    margin-right: 30%;
}

.email p {
    color: white;
}

.address {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}

.copyright {
    padding: 1%;
    color: white;
    text-align: center;
}

button {
    border-radius: 8px;
    background-color: #b06238;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #4693d7;
}

.center{
    padding-left: 10%;
    padding-right: 10%;
}

@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
}
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(207, 137, 15);
}
.navbar-light .navbar-nav .nav-link:focus {
    color: rgb(207, 137, 15);
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgb(190, 127, 19);
}

.navbar-light .navbar-nav .nav-link.login {
    color: rgb(190, 127, 19);
}

.abc{
    border-radius: 8px;
    background-color: #fff;
    color: #082e4c;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
}
.abc:hover{
    background-color: #4693d7;
}
