* {
    box-sizing: border-box;
    font-family: Verdana, Monaco, monospace;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    height: 120px;
}

.header a.active {
    color: darkgoldenrod;
}

.header a:hover {
    color: chocolate;
}

.header a {
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}

.accueilphoto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    background-image: url("../public/images/accueil.jpg");
    background-size: cover;
    height: 500px;
    color: white;
    text-shadow: 2px 2px 10px #706969;}

.accueilphoto div {
    padding: 1px;
}

.accueiltext {
    padding-top: 5%;
}

.accueiltext p {
    padding-top: 11px;
    line-height: 1.8;
}

.button {
    float: right;
    margin-left: auto;
    margin-right: 20%;

}

.titrealigne {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 50px;
}

.bois {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../public/images/wood copy.jpg");
    width: 100%;
    background-size: 100vw 120px;
    height: 120px;
    color: white;
}

.boisaligne {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.boisaligne h2 {
    font-size: 30px;
}

.accueiltext {
    font-size: 20px;
    width: 70%;
    margin: auto;
}

.services {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}


.services a {
    padding: 2%;
    color: #663d11;
    font-size: 20px;
    transition: 0.1s;
    display: inline;
    text-decoration: none;
}

.services a:hover{
    color: white;
}

.divcouverture {
    background-image: url("../public/images/Couvertures/couv.JPG");
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    height: 371px;
    width: 370px;
}

.divouvrage {
    background-image: url("../public/images/Ouvrages/HPIM2921.JPG");
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    height: 371px;
    width: 370px;
    position: relative;
}

.divcharpente {
    background-image: url("../public/images/Charpentes/charpente.JPG");
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    height: 371px;
    width: 370px;
    position: relative;

}

.servicebutton {
    display: block;
    padding: 9%;
    background-color: rgb(169, 160, 160);
    margin: 0;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

.servicebutton:hover {
    opacity: 0.9;
}

.slide {
    margin-top: 5%;
}

.devis {
    margin-top: 5%;
    height: 150px
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    height: 110px;
    background-color: #b06238;
}

.icon {
    margin-left: 2%;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.icon img {
    padding: 5px;
}

.tel {
    display: flex;
    flex-direction: row;
    margin-right: 40%;
    justify-content: space-between;

}

.tel a {
    text-decoration: none;
    color: black;
    text-align: center;
    align-content: center;
}

.tel ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

.footerwood {
    background-image: url("../public/images/wood copy.jpg");
    height: auto;
}

.footercopyright {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footercopyright input[type=text] {
    width: 200px;
    height: 30px;
    display: inline-block;
}

.footercopyright input[type=submit] {
    height: 41px;
    width: 122px;
    cursor: pointer;
    border-radius: 8px;
    color: #ffffff;
    background-color: gray;
    transition: 0.5s;
}
.footercopyright input[type=submit]:hover{
    background-color: #1a2a59;
}
.email {
    margin-right: 30%;
}

.email p {
    color: white;
}

.address {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}

.copyright {
    padding: 1%;
    color: white;
    text-align: center;
}

button {
    border-radius: 8px;
    background-color: #b06238;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #d77a46;
}

